main {
    background-color: #fcf7e4;
    height: 800px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline;
}

header ul {
    display: inline;
}

.top {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    background-color: #333;
    font-family: m;
}

.todolist-link {
    text-decoration: none;
}

.todolist {
    background-color: #ff6f61;
    border: none;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.todolist:hover {
    background-color: #e55b5b;
    transform: scale(1.05);
}

.button-section {
    text-align: center;
    margin-top: 30px;
    margin-right: 190px;
}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #ff6f61;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;

}

.button:active {
    background-color: #e55b5b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button:hover {
    background-color: #e55b5b;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fed480;
    padding: 10px 20px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#navbar-left {
    display: flex;
    align-items: center;
}

#navbar-left h1 {
    margin: 0;
    font-size: 24px;
}

#navbar-center {
    position: relative;
}

#search-input {
    padding: 5px;
    margin-left: 25px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    background-color: #edf1f4;
}

#search-results {
    position: absolute;
    top: 35px;
    left: 0;
    width: 200px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    overflow: hidden;
}

.hidden {
    display: none;
}

#navbar-right {
    display: flex;
    align-items: center;
}

#user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#habit-tracker {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #5f22df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

#habit-header {
    cursor: pointer;
    text-align: center;
}

#habit-header h3 {
    margin: 0;
    color: #00796b;
}

.habit-details {
    background-color: linear-gradient(to right, #5f22df 0%, #5f22df 100%);
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.habit-details.open {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.todo-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.todo-container h3 {
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
}

#taskInput {
    width: calc(100% - 60px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

#addTaskButton {
    width: 50px;
    padding: 8px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #218838;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-item.completed {
    text-decoration: line-through;
    color: gray;
}

.habit-count-label {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.headingMyHabits{
    width: 100%;
}

#calendar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.week {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.habit-info {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.habit-info p {
    color: #00796b;
}

.weightlifter {
    width: 40px;
}

#habit-tracker {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(to right, #5f22df 0%, #5f22df 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px;
}

#habit-header h3 {
    margin: 0;
    color: white;
}

#streak {
    margin-top: 5px;
    color: #edf1f4;
    font-weight: bold;
    font-size: 12px;
}

.habit-details {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

.habit-details.open {
    max-height: 500px;
    transition: max-height 1s ease-in;

}

.bin{
    height: 17px;
    width: 17px;
    position: absolute;
    margin-left: 240px;
}

.habit-count-label {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    display: inline;
}

#calendar {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.habitName {
    color: white;
}

.day {
    width: 40px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #cfd8dc;
    color: #455a64;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 3px;
    font-size: 12px;
}

.day.completed {
    background-color: #4caf50;
    color: white;
    margin: 3px;
}

.day.missed {
    background-color: rgb(192, 0, 0);
    color: white;
}

.day.today {
    background-color: yellow;
    /* color: white; */
}

.day:hover {
    background-color: #81d4fa;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-trigger {
    cursor: pointer;
    font-weight: bold;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.side-menu ul li {
    margin: 15px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: #c8cbce;
    font-size: 20px;
    font-weight: bold;
    display: block;
    transition: color 0.3s ease;
}

.navbarPFP {
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.side-menu ul li a:hover {
    color: black;
    transition: 0.3s ease-in;
}

.profile-section {
    text-align: center;
}

.titleForSideMenu {
    font-size: 40px;
    font-weight: bold;
}

.profile-pic {
    margin-top: 50px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.viewProfile {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.viewProfile:hover {
    color: black;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.side-menu.open {
    right: 0;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.tabs {
    display: flex;
    padding: 10px 20px;
    background-color: #edf1f4;
    border-bottom: 1px solid #e0e0e0;
}

.tab {
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.tab.active {
    background-color: #e0e0e0;
    font-weight: bold;
}

#content {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.habitTrackerImage{
    height: 80px;
    width: 80px;
    position: absolute;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0;
    font-size: 30px;
    margin-left: 100px;
}

.card p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #c2c2c2;
    margin-left: 100px;
}