{% extends "base.html" %}

{% block title %}To Do List{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/todolist.css') }}">
{% endblock %}

{% block content %}
    <header id="nav">
        <h1 class="top">Habit Tracker</h1>

        <div class="topnav">
            <a class="active" href="{{ url_for('home.homepage') }}">Track Habit</a>
            <a href="#news">News</a>
            <a href="{{ url_for('todolist.todolist_page') }}">To Do List</a>
            <a href="#about">About</a>
        </div>
    </header>

    <div id="myDIV" class="header">
        <h2 style="margin:5px">My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    
    <ul id="myUL">
        <li>Hit the gym</li>
        <li class="checked">Pay bills</li>
        <li>Meet George</li>
        <li>Read a book</li>
        <li>Fight</li>
    </ul>

    <script src="{{ url_for('static', filename='todolist.js') }}"></script>
{% endblock %}
